@font-face {
  font-family: "iconfont";
  /* Project id 3898473 */
  src: url('//at.alicdn.com/t/c/font_3898473_xaizw6afznc.woff2?t=1677053621064') format('woff2'), url('//at.alicdn.com/t/c/font_3898473_xaizw6afznc.woff?t=1677053621064') format('woff'), url('//at.alicdn.com/t/c/font_3898473_xaizw6afznc.ttf?t=1677053621064') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fenlei:before {
  content: "\e600";
}
.icon-shouye:before {
  content: "\e6cb";
}
.icon-wenda:before {
  content: "\e893";
}
.icon-wode:before {
  content: "\e62f";
}
.icon-video:before {
  content: "\e61f";
}
.icon-suo:before {
  content: "\e652";
}
.icon-shouji:before {
  content: "\e601";
}
.icon-pinglun:before {
  content: "\e602";
}
.icon-lishi:before {
  content: "\e603";
}
.icon-shoucang:before {
  content: "\e604";
}
.icon-dianzan:before {
  content: "\e605";
}
.icon-guanbi:before {
  content: "\e606";
}
.icon-gengduo:before {
  content: "\e607";
}
.icon-fenxiang:before {
  content: "\e608";
}
.icon-shipin:before {
  content: "\e609";
}
.icon-dianzan2:before {
  content: "\e60a";
}
.icon-shanchu:before {
  content: "\e60b";
}
.icon-zuopin:before {
  content: "\e60c";
}
.icon-yuehui_date13-01:before {
  content: "\e610";
}
